/*html {_padding-top:100px;}*/
/*html,body { height:100%; overflow:hidden;}*/
/*body{margin:0;padding:0; list-style:none;background:url(../img/bg.jpg) top center no-repeat; background-size:cover; }*/
#overlay {
    z-index: 9999;
    position: fixed;
    text-align:  center;
    width: 100%;
    bottom: 0px;
    height: 90px;
    _position: absolute;
    background: rgba(0,0,0,0.5);
}
.images-content{
    position: absolute;
    z-index: 1;
    /*left: 88%;*/
    top:0;
    right: 0;
    /*width: 100%;*/
    color: #fff;
    /*background: rgba(0,0,0,.7);*/
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.iframe{
    height:580px;
    width:100%;
}
