
.div1_2{
    margin-top: 10px;
    height: 25px;
}
.table1{
    margin-top: 10px;
    width: 100%;
    border:1px  solid skyblue;
    text-align: center;
}
.td1{
    border: solid skyblue;
    border-width: 1px 0 0 1px;
}