body{
    background-color: white;
}
.div1{
    height: 100px;
    margin-top: 10px;
    width: 100%;
    min-width: 80%;
    position:relative;
    /*background-color: #0c173b;*/
}
.div1_1{
    width:15% ;
    min-width: 196px;
    height:100px;
    float: left;
    border: 1px solid gainsboro;
}
.flo1{
    float: left;
}
/*.div1_2{*/
    /*width: 130px;*/
    /*height:100px;*/
    /*float: left;*/
    /*margin-left: 10px;*/
    /*border: 1px solid gainsboro;*/
    /*display: none;*/
/*}*/
.div1_3{
    width:70%;
    min-width: 620px;
    height:100px;
    float: left;
    margin-left: 207px;
    position: absolute;

}
.div1_3_1{
    width: 49%;
    min-width: 340px;
    height:100px;
    float: left;
    border: 1px solid gainsboro;
    position: absolute;
}
.div1311{
    margin-left: 30px;
}
.div1_3_2{
    width: 35%;
    min-width: 290px;
    height:100px;
    float: left;
    margin-left: 390px;
    border: 1px solid gainsboro;
    position: absolute;
    /*background-color: red;*/
}
.div1321{
    margin-top:6px;
    width: 80%;
    min-width: 200px;
    margin-left: 4%;

}
.div2{
    height: 130px;
    margin-top: 5px;
    position:relative;
}
.div2_1{
    width: 15%;
    height:100px;
    min-width: 196px;
    margin-top: 5px;
    float: left;
    /*margin-left:30px;*/
    border: 1px solid gainsboro;
}
.div2_2{
    width:50%;
    min-width: 700px;
    height:100px;
    margin-left: 207px;
    margin-top: 5px;
    border: 1px solid gainsboro;
    position: absolute;
    /*background-color: #0c173b;*/
}
.div2_2_1{
    float: left;
    margin-top: 38px;
    margin-left: 10px;
    width: 30%;
    min-width: 150px;
    /*background-color: cornflowerblue;*/
}
.div2_2_2{
    float: left;
    margin-top: 38px;
    width: 30%;
    min-width: 150px;

}
.div3{
    float:left;
    width: 100%;
    margin:0 auto;
    /*background-color: #0c173b;*/

    /*margin:0 auto;*/
}