.div1{
    width:100%;
    height: 500px;
}
.table1{
    border: 1px solid;
    width: 100%;
    min-width: 400px;
    text-align: center;
}
.tr1{
    background-color: #EFEFEF;
}
.tr2{
    background-color: #6193B3;
}
