.div1{
    width:1148px;
    height: 500px;
}
.table1{
    border: 1px solid;
    width: 1100px;
    text-align: center;
}
.tr1{
    background-color: #EFEFEF;
}
.tr2{
    background-color: #215867;
}
.div2{
    width:1148px;
}