.flo1{
    float: left;
    color: #337AB7;
}

.chooselight{
    width: 22%;
    min-width: 340px;
    height:100px;
    border: 1px solid forestgreen;
    margin: 10px auto;
}

.div1311{
    margin-left: 20px;
}

.choosetime{
    width: 22%;
    min-width: 340px;
    height:100px;
    border: 1px solid forestgreen;
    margin: 0 auto;
}

.div1321{
    width: 100%;
    min-width: 300px;
    margin: 6px auto;
}

.div2_1{
    width: 25%;
    height:100px;
    min-width: 340px;
    border: 1px solid forestgreen;
    margin: 10px auto;
}

.div2_2{
    width:50%;
    min-width: 700px;
    height:100px;
    border: 1px solid forestgreen;
    margin: 0 auto;
}

.div2_2_1{
    float: left;
    margin-top: 38px;
    margin-left: 15px;
    width: 30%;
    min-width: 150px;
}

.div2_2_2{
    float: left;
    margin-top: 38px;
    width: 30%;
    min-width: 150px;

}

